<div class="row">
    <div class="col-4">
        <h2 class="text-info">Trail List</h2>
    </div>
    <div class="col-8">
        <a class="btn btn-success text-white float-right" asp-action="Upsert"><i class="fas fa-plus"></i>&nbsp; Create Trail</a>
    </div>
</div>
<div class="p-2">
    <table class="table table-active table-bordered table-striped table-info table-hover" id="tblData">
        <thead class="thead-dark offset-6">
            <tr>
              <th>National Park</th>
                <th>Name</th>
                <th>Distance</th>
                <th>Elevation</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts{ 
<script src="~/js/Trail.js"></script>
}
